# Temporary Files for Tesing
*_testing*

# Cmake Build Directory
*/build/*
*/build_mingw/*

#Visual Studio Build Directory
*/Debug/*
*/Release/*
*/Testing/*

#cmake files for mingw
*.cmake
*.dir
*.tcl
*.ninja
*.ninja_deps
*.ninja_log
*/CMakeFiles/*
CMakeCache.txt
Makefile

#backup files 
*.*~

#Music files
*.mp3
*.aac
*.wav
*.m4a
*.flac
*.wma

#Gresource prebuild file
*/src/resources.cpp
build/*
build/mingw/*

#gschemas file
gschemas.compiled

#backend source
backend/*

#The binary files
FiveRow
24game

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

