
/* A slim headerbar style for widgets */
.titlebar{
	min-height:10px;
	margin:0px;
}

label{
	margin: 0px;
	min-height: 8px;
}

.ctrl_btn{
	min-height: 8px;
	min-width: 8px;
	margin: 0px;
	font-weight:900;
	border-radius:100%;
}

.ctrl_btn:hover{
	color:black;
}