[Unit]
Description=Apply cpupower configuration
ConditionVirtualization=!container
After=multi-user.target

[Service]
Type=oneshot
EnvironmentFile=/etc/default/cpupower
ExecStart=/usr/lib/systemd/scripts/mycpupower
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
